

/* footer */
/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.ea3mdgi5 > div.block-container.css-1y4p8pa.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
} */
.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.link {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}


/* enlever les rgpd et mentions légales de la sidebar */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-vk3wp9.eczjsme11 > div.css-6qob1r.eczjsme3 > div.css-79elbk.eczjsme10 > ul > li:nth-child(6) {
    display: none;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-vk3wp9.eczjsme11 > div.css-6qob1r.eczjsme3 > div.css-79elbk.eczjsme10 > ul > li:nth-child(7) {
    display: none;
}




/* centrage des boutons */
.row-widget.stButton {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}


/* centrage du titre */
h1 {
    text-align: center;
    margin-left: 0 !important;
    position: relative;
    right: 50px !important;
    font-family: "Comic Sans Ms";
}
.css-10trblm {
    margin-left:  0 !important;
    text-align: center !important;
    position: initial !important; 
    flex: auto !important;
}


/* taille de police des labels */
p {
    font-size: 16px !important; 
}


/* Désactiver la sidebar */
section[data-testid="stSidebar"] {
    display: none !important;
} 